
header {
    width: 100%;
}

.menu>li {
    position: relative;
    z-index: 1;
    display: inline-block;
}

.menu>li>a {
    display: inline-block;
    padding: 15px 20px;
    color: #000000;
    font-family: 'Open sans';
    text-decoration: none;
    text-size-adjust: 16%;
}


.submenu {
    position: absolute;
    z-index: 1;
    background: #333333;
    width: 120%;
    visibility: hidden;
    
}

.submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'open sans';
    text-decoration: none;
}


